/** css for simple ical module **/
.simple_ical_block .list-group-item {
  margin-bottom: 10px;
}
.simple_ical_block .list-group-item .ical-date {
  font-weight:bold;
}
.simple_ical_block .ical_summary {
  font-size:1.1rem;
  text-transform: uppercase;
}
.simple_ical_block .dsc {
  font-style: italic;
}
.simple_ical_block .list-group-item + .list-group-item {
  border-top-width: 1px;
}
.simple_ical_block .simple-ical-widget > .list-group-item.odd {
  background-color: #eee;
}
.simple_ical_block .simple-ical-widget > .list-group-item.even {
  background-color: #ddd;
}
.simple_ical_block .xbsum {
	font-size:0.9rem;
	color:#888;
}